pyrogram==2.0.35
tgcrypto
pymongo[srv]
motor
marshmallow
umongo
requests
bs4
imdbpy
aiohttp
pytz
hachoir
Pillow
humanize
aiofiles
dnspython
pynewtonmath
openai
jinja2
python-dotenv<
apscheduler
pyshorteners
psutil
pyromod
colorama

